<?xml version="1.0"?>

<launch>
  <arg name="world" default="$(find hector_gazebo_worlds)/worlds/small_indoor_scenario.world"/>
  <arg name="gui" default="true"/>
  <arg name="rviz" default="true"/>
  <arg name="aircraft_name" default="quadrotor"/>
  <arg name="args" default=""/>

  <param name="/use_sim_time" value="true" />

  <node name="gazebo" pkg="gazebo_ros" type="gzserver" args="$(arg world) $(arg args)" respawn="false" output="screen"/>
  
    <!-- start gui -->
  <group if="$(arg gui)">
    <node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" respawn="false" output="screen"/>
  </group>


  <!-- Spawn simulated quadrotor uav -->
  <include file="spawn_quadrotor.launch" >
    <arg name="name" value="$(arg aircraft_name)"/>

    <arg name="model" default="$(find hector_quadrotor_description)/urdf/quadrotor_with_kinect.gazebo.xacro"/>
    <arg name="controllers" value="
        controller/attitude
        controller/velocity
        controller/position
        "/>
  </include>

  <!-- Start SLAM system -->
<!--
  <include file="$(find hector_mapping)/launch/mapping_default.launch">
    <arg name="odom_frame" value="world"/>
  </include>
-->

  <!-- Start GeoTIFF mapper -->
  <!--
  <include file="$(find hector_geotiff)/launch/geotiff_mapper.launch">
    <arg name="trajectory_publish_rate" value="4"/>
  </include>
  -->

  <!-- Start rviz visualization with preset config -->
  <group if="$(arg rviz)">
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(env MACE_ROOT)/ROS/rviz/robot.rviz" />
  </group>


</launch>
