<?xml version="1.0"?>

<launch>
    <arg name="world_name" default="$(find sim_gazebo)/worlds/empty.world"/>
    <arg name="debug" default="false"/>
    <arg name="gui" default="true"/>
    <arg name="paused" default="true"/>
    <arg name="recording" default="false"/>
    <arg name="verbose" default="false"/>

  <include file="$(find sim_gazebo)/launch/start.launch">
    <arg name="world_name" value="$(find sim_gazebo)/worlds/$(arg world_name).world"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="recording" value="$(arg recording)"/>
    <arg name="verbose" value="$(arg verbose)"/>
  </include>

</launch>
